<div class="fullpage-root" [class.header-logo-active]="isHeaderLogo()">
  <div class="sections" id="sections" [style.transform]="'translateY(calc(-1 * ' + currentIndex() + ' * 100vh))'">
    <section #sectionEl class="section home">
      <app-home-screen></app-home-screen>
    </section>
    <section #sectionEl class="section about">
      <app-about-screen></app-about-screen>
    </section>
    <section #sectionEl class="section service">
      <app-service-screen></app-service-screen>
    </section>
    <section #sectionEl class="section work">
      <!-- <app-about-screen></app-about-screen> -->
    </section>
    <section #sectionEl class="section contact">
      <app-contact></app-contact>
    </section>
  </div>

  <section class="contact-screen">
    ...
    @if(!footerVisible){
        <div class="footer-hint">▼ más</div>
    }
  </section>

  <app-footer class="footer" [class.visible]="footerVisible"></app-footer>

  <!-- Indicador de avance (small dots) -->
  <nav class="dots">
    @for (i of dots; track $index) {
    <button
      class="dot"
      [class.active]="currentIndex() === $index"
      (click)="scrollSvc.goTo($index)"
    ></button>
    }
  </nav>
</div>
