.who-container {
  height: 80%;
  padding: 50px;

  .title {
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
    text-align: center;
    color: var(--md-sys-color-on-background);
  }

  .cards {
    display: grid;
    gap: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    mat-card {
      border-radius: 1.5rem;
      border: none;
      background: var(--mat-sys-surface-container-low);
      box-shadow: var(--md-sys-elevation-level3);
      padding: 1rem;

      p {
        line-height: 1.6;
        opacity: 0.9;
      }
    }
  }

  /* SVG decorativos */
  .decor {
    position: absolute;
    opacity: 0.15;
    width: 10rem;
    pointer-events: none;

    &.decor-1 {
      bottom: -90%;
      left: -1rem;
      width: 20rem;
    }
    &.decor-2 {
      bottom: -40%;
      right: -40px;
      width: 15rem;
    }
    &.decor-3 {
      bottom: -80%;
      right: 30%;
      width: 90px;
    }
  }
}
