.home-container {
  background: #dfc5ab;
  height: 100vh;
  isolation: isolate;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .grid1 {
    position: absolute;
    width: 35vh;
    top: 40vh;
    left: -15vh;
    &.reversed {
      transform: rotate(180deg);
      top: -83vh;
      left: unset;
      right: -5vh;
    }
  }
  .custom-button {
    background: #ededed !important; /* color principal */
    color: #dfc5ab !important; /* texto */
    font-family: 'Inria Serif', serif !important;
    border-radius: 10px;
    ::ng-deep .mdc-button__label {
      mix-blend-mode: difference !important;
    }
  }
  .grid-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
  }
  .home-content {
    height: 80vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    .subtitle {
      text-align: center;
      color: #414141;
      font-family: 'inria-serif', 'Robotto';
      .subtitle-text {
        font-weight: 500;
      }
    }
    .logo-nyar {
      width: 80%;
      z-index: 10;
      max-width: 500px;
    }
  }
}
