<div class="home-container" id="home-container">
  <img src="img/grid1.svg" class="grid1" alt="grid1" />
  <div class="home-content">
    <img src="img/path14-5-2-0-6-9-6-9.svg" class="logo-nyar shadow-default" alt="logo-nyar" />
    <div class="subtitle">
      <h1 class="subtitle-text shadow-default">Custom web</h1>
      <h1 class="subtitle-text shadow-default">Designed for you</h1>
    </div>
    <button matButton="elevated" class="custom-button">
        <span class="exclused-mix" (click)="scrollSvc.goToLast()">Request Now for your Free Quote</span>
    </button>
  </div>
  <div class="grid-wrapper">
    <img src="img/grid1.svg" class="grid1 reversed" alt="grid1" />
  </div>
</div>
