<h2 mat-dialog-title>{{this.translate.t("html.components.dialog.settings.title")()}}</h2>

<mat-dialog-content class="flex flex-col">
  <mat-slide-toggle
    [checked]="settings.darkMode()"
    (change)="toggleDarkMode()">
    {{this.translate.t("html.components.dialog.settings.darkModeLbl")()}}
  </mat-slide-toggle>

  <mat-form-field appearance="fill" class="w-full mt-4">
    <mat-label>{{this.translate.t("html.components.dialog.settings.languageLbl")()}}</mat-label>
    <mat-select
      [value]="settings.language()"
      (selectionChange)="updateLanguage($event.value)">
        <mat-option value="es">Español</mat-option>
        <mat-option value="en">English</mat-option>
        <mat-option value="de">Deutsch</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full mt-4">
    <mat-label>{{this.translate.t("html.components.dialog.settings.themeLbl")()}}</mat-label>
    <mat-select
      [value]="settings.theme()"
      (selectionChange)="updateTheme($event.value)">
      <mat-option value="theme-flora" default>Flora</mat-option>
      <mat-option value="theme-ocean">Ocean</mat-option>
      <mat-option value="theme-sunset">Sunset</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>{{this.translate.t("html.components.dialog.settings.closeBtn")()}}</button>
</mat-dialog-actions>
