
$background-main: linear-gradient(180deg, #fffefa 0%, #f8f2ec 100%);
$background-white: #f5f5f5;
$background-white-general: #ededed;

$principal: #dfc5ab; 
$action: #003033;    
$action-clear: #51948D; 

$color-text: #414141;

$box-shadow-color: rgba(81, 148, 141, 0.16);