<div class="quick-settings" [class.open]="isOpen()">
  <button mat-icon-button class="toggle-btn" (click)="togglePanel()">
    <mat-icon>{{ isOpen() ? 'close' : 'settings' }}</mat-icon>
  </button>

  <div class="panel">
    <h4>{{this.translateService.t("html.components.dialog.settings.title")()}}</h4>

    <mat-slide-toggle
        class="darkModeToggle"
      [checked]="darkMode()"
      (change)="toggleDarkMode($event)"
    >
      <span class="textLabel">{{this.translateService.t("html.components.dialog.settings.darkModeLbl")()}}</span>
    </mat-slide-toggle>

    <mat-form-field appearance="outline" class="lang-select">
      <mat-label class="textLabel">{{this.translateService.t("html.components.dialog.settings.languageLbl")()}}</mat-label>
      <mat-select class="textLabel" [value]="language()" (selectionChange)="changeLanguage($event.value)">
        <mat-option value="es">Español</mat-option>
        <mat-option value="en">English</mat-option>
        <mat-option value="de">Deutsch</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button class="settingsDialogBtn" color="accent" (click)="openSettingsDialog()">
      Más ajustes
    </button>
  </div>
</div>
