$toggleBtnWidth: 48px;

.quick-settings {
  position: fixed;
  top: 40%;
  right: 0;
  transform: translate(calc(100% - $toggleBtnWidth), 30%);
  display: flex;
  align-items: center;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  color: var(--color-text) !important;

  .toggle-btn {
    background-color: var(--color-secondary);
    color: var(--color-text);
    border-radius: 50% 0 0 50%;
    width: $toggleBtnWidth;
    height: $toggleBtnWidth;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;

  }

  .panel {
    background: var(--color-bg);
    border: 3px solid var(--color-secondary);
    border-right: none;
    border-radius: 12px 0 0 12px;
    box-shadow: -3px 0 12px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    width: 220px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &>*{
        margin-top: 1rem;
    }

    h4 {
      font-size: 1rem;
      
    }

    .settingsDialogBtn{
        width: 100%;
        margin-bottom: 1rem;
    }

    .lang-select {
      width: 100%;
      color: var(--color-text);
    }
  }

  &.open {
    transform: translate(0%, 30%);
    .panel {
      opacity: 1;
    }
  }
}


.textLabel{
  color: var(--color-text) !important;
}
