// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './styles/theme-colors' as theme;
@use './styles/colors' as color;
@include theme.high-contrast-overrides(color-scheme);

html {
  @include mat.theme(
    (
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
  &.dark-theme {
    color-scheme: dark;
  }
}

button {
  @include mat.button-overrides(
    (text-label-text-color: color.$action)
  );
  // define-palette(theme.$secondary);

  &.custom-button {
    @include mat.button-overrides(
      (
        protected-ripple-color: color.$action,
      )
    );
  }
}

.footer-container {
  background: var(--mat-sys-background);
  color: var(--mat-sys-on-background);

}
