// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

$--mat-button-protected-label-text-color: #dfc5ab !important;
$--mat-sys-surface: #dfc5ab !important;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

.shadow-default {
  -webkit-filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.5));
}

button.custom-button {
  @include mat.button-overrides(
    (
      protected-ripple-color: #003033
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Inria Serif', Roboto, 'Helvetica Neue', sans-serif;
}
